<!DOCTYPE html>
<html lang="en">
<head>
    <style>html{visibility:hidden; opacity:0;}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/npm/htmx.org/dist/htmx.min.js"></script>

    {% if game and game.css %}
    <link rel="stylesheet" href="/game/{{game.key}}/custom.css">
    {% endif %}
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container" id="content">{% block content %}{% endblock %}</div>
</body>
</html>
