{% extends "_base.html" %}
{% block title %}{{game.name}} - {{item.title}}{% endblock %}

{% block content %}
<h1>{{game.name}}</h1>

{% with %}
{% set prev_item = game.previous_item(item) %}
{% set next_item = game.next_item(item) %}
<nav>
    <ul>
    {% if prev_item %}
    <li><a class="goto previous-item" href="/game/{{game.key}}/item/{{prev_item.key}}">Previous</a></li>
    {% endif %}
    {% if next_item %}
    <li><a class="goto next-item" href="/game/{{game.key}}/item/{{next_item.key}}">Next</a></li>
    {% endif %}
    <li><a class="goto results" href="/game/{{game.key}}/results">Results</a></li>
    </ul>
</nav>
{% endwith %}

<h2>{% if item.icon %}<span class="item-icon">{{item.icon}}</span> {% endif %}{{item.title}}</h2>
{% if item.image_url %}<img class="item-image" src="{{item.image_url}}" alt="{{item.title}}">{% endif %}
<div><p>{{item.text}}</p></div>

<div id="vote-container">
    {% include "partials/vote.html" %}
</div>

<div id="game-results" hx-get="/game/{{game.key}}/results.htmx" hx-trigger="load" hx-swap="outerHTML"></div>
{% endblock %}
